{% extends 'teacher_inhert.html' %}
{% block content %}
<div class="bs-example">
    <div class="panel panel-default">

      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          课程表
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>课程名</th>
            <th>课程状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in teacher_list %}
        <tr>
            <th scope="row"> {{ obj.the_course }}</th>
            <td> {% if obj.course_pass == 1 %}待审核
            {% elif obj.course_pass == 2 %}通过
            {% elif obj.course_pass == 3 %}不通过
            {% endif %}</td>
            <td><a class="btn btn-primary btn-xs" href="/question/?course={{ obj.the_course }}">查看试题</a>
                <a class="btn btn-primary btn-xs" href="/teacher/delete/?nid={{ obj.id }}">删除</a></td>
        </tr><br>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}