{% extends 'teacher_inhert.html' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">添加课程</div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}
                        <div class="form-group">
                            <label>课程名：</label><input type="text" placeholder="请输入要添加的课程名" name="course">{{ user.errors }}{{ err_msg }}
                        </div>
                <button type="submit" class="btn btn-primary">提交审核</button>
            </form>
        </div>
    </div>
{% endblock %}